<!-- #modalElement Permite manipular el modal desde el TypeScript.-->
<!-- isVisible controla el modal Si es tru class show se muestra si es false aria-hiden no se muestra-->
<div #modalElement class="modal fade" [class.show]="isVisible" [attr.aria-hidden]="!isVisible">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content" (click)="$event.stopPropagation()"><!--stopPropagation evita que se propague el evento; AQUI LO QUE HACE ES QUE NO FUCIONE EL CLICK DE CERRAR MODAL PARA PODER GUARDAR EL EVENTO CON EL BOTON GUADAR Y LA FUNCION-->
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center">Seleccionar aplicador</h1>
        <button type="button" class="btn-close" (click)="cerrarModal()"></button>
      </div>
      <div class="modal-body ">
        <div class=" d-flex align-items-center flex-column">
          <input type="search" class="" placeholder="Buscar aplicador">

          <div class="mt-5">
            <div *ngFor="let aplicador of aplicadores" class="d-flex justify-content-around w-100 m-">
              <label class="form-check-label"> {{ aplicador.nombre }} </label>
                <input type="checkbox" class="form-check-input" class="ms-auto" [checked]="aplicadoresSeleccionados.includes(aplicador)"(change)="revisarAplicadores(aplicador)">
            </div>
          </div>

        </div>
      </div>

      <div class="modal-footer d-flex justify-content-center align-items-center">
        <button type="button" class="btn mt-3" (click)="guardarCambios()">Guardar Cambios</button>
      </div>

    </div>
  </div>
</div>

