<div class="fixed-footer">

  <!-- Incidencias Menu -->
  <div id="menuD" [hidden]="!isIncidenciaMenuVisible">
    <div>
      <button class="close-btn" (click)="closeIncidenciaMenu()">X</button>
      <h1 >Incidencias</h1>
      <h3 routerLink="/incidencias/tipo-personal" style="cursor: pointer;">Personal</h3>
      <h3 routerLink="/incidencias/tipo-maquina"style="cursor: pointer;">Máquina</h3>
      <h3 routerLink="/incidencias/tipo-stock"style="cursor: pointer;">Stock</h3>
    </div>
  </div>


  <div id="menuD" [hidden]="!isOrdenMenuVisible">
    <div>
      <button class="close-btn" (click)="closeOrdenMenu()">X</button>
      <h1>Ordenes</h1>
      <h3 class="desMenu1" routerLink="/orden/orden-curso" style="cursor: pointer;">En curso</h3>
      <h3 class="desMenu1" routerLink="/orden/orden-pendientes" style="cursor: pointer;">Pendientes</h3>
      <h3 class="desMenu1" routerLink="/orden/orden-pausadas" style="cursor: pointer;">Pausadas</h3>
      <h3 class="desMenu1" routerLink="/orden/orden-terminadas" style="cursor: pointer;">Terminadas</h3>
    </div>
  </div>

  <h3 routerLink="/ordenes/en-curso" style="cursor: pointer;">En curso</h3>
      <h3 routerLink="/ordenes/pendientes" style="cursor: pointer;">Pendientes</h3>
      <h3 routerLink="/ordenes/pausadas" style="cursor: pointer;">Pausadas</h3>
    </div>
  </div>

  <!-- Footer Fijo -->
  <div id="fixed-footer">

    <!-- Botón Home -->
    <div class="home">
      <a routerLink="/dashboard">
        <img src="Home.svg" alt="home" />
      </a>
    </div>

    <!-- Botón Calendario -->
    <div class="calendar">
      <a routerLink="/calendario">
        <img src="Calendar.svg" alt="calendar" />
      </a>
    </div>

    <!-- Botón Incidencias -->
    <div class="incidencia">
      <div type="button" class="btn" (click)="IncidenciaMenu()">
        <img src="Incidencia.svg" alt="incidencia" />
      </div>
    </div>

    <!-- Botón Orden -->
    <div class="orden">
      <div type="button" class="btn" (click)="OrdenMenu()">
        <img src="tareas.svg" alt="ordenes" />
      </div>
    </div>

    <!-- Botón Menú -->
    <div class="menu">
      <a routerLink="/menu">
        <img src="menu.svg" alt="menu" />
      </a>
    </div>

  </div>

</div>
