<div class="fixed-footer">

  <!-- Incidencias Menu -->
  <div id="menuD" [hidden]="!isIncidenciaMenuVisible">
    <div>
      <button class="close-btn" (click)="closeIncidenciaMenu()">X</button>
      <h1 >Incidencias</h1>
      <h3 [routerLink]="['j_campo/incidencias/tipo-personal']" style="cursor: pointer;">Personal</h3>
      <h3 [routerLink]="['j_campo/incidencias/tipo-maquina']" style="cursor: pointer;">Máquina</h3>
      <h3 [routerLink]="['j_campo/incidencias/tipo-stock']" style="cursor: pointer;">Stock</h3>
    </div>
  </div>

<!-- ordenes -->
  <div id="menuD" [hidden]="!isOrdenMenuVisible">
    <div>
      <button class="close-btn" (click)="closeOrdenMenu()">X</button>
      <h1>Ordenes</h1>
      <h3 class="desMenu1" [routerLink]="['/j_campo/orden/orden-curso']" style="cursor: pointer;">En curso</h3>
      <h3 class="desMenu1" [routerLink]="['/j_campo/orden/orden-pendientes']" style="cursor: pointer;">Pendientes</h3>
      <h3 class="desMenu1" [routerLink]="['/j_campo/orden/orden-pausadas']" style="cursor: pointer;">Pausadas</h3>
      <h3 class="desMenu1" [routerLink]="['/j_campo/orden/orden-terminadas']" style="cursor: pointer;">Terminadas</h3>
    </div>
  </div>


   <!--  Menu -->
    <div id="menuD" [hidden]="!isCuentaMenuVisible">
      <div>
        <button class="close-btn" (click)="closeCuentaMenu()">X</button>
        <h1>Menú</h1>
        <h3 class="desMenu1" [routerLink]="['/j_campo/cuenta']" style="cursor: pointer;">Cuenta</h3>
        <h3 class="desMenu1" [routerLink]="['/j_campo/mensajes']" style="cursor: pointer;">Mensajes</h3>
        <h3 class="desMenu1" [routerLink]="['/j_campo/tratamientos']" style="cursor: pointer;">Tratamientos</h3>
        <h3 class="desMenu1" [routerLink]="['/j_campo/almacen']" style="cursor: pointer;">Almacén</h3>
        <h3 class="desMenu1" [routerLink]="['/j_campo/salir']" style="cursor: pointer;">Salir</h3>
      </div>
    </div>


  <!-- Footer Fijo -->
  <div id="fixed-footer">

    <!-- Botón Home -->
    <div class="home">
      <a routerLink="j_campo/dashboard">
        <img src="/Home.svg" alt="home" />
      </a>
    </div>

    <!-- Botón Calendario -->
    <div class="calendar">
      <a routerLink="jefe_campo/calendario">
        <img src="/Calendar.svg" alt="calendar" />
      </a>
    </div>

    <!-- Botón Incidencias -->
    <div class="incidencia">
      <div type="button" class="btn" (click)="IncidenciaMenu()">
        <img src="/Incidencia.svg" alt="incidencia" />
      </div>
    </div>

    <!-- Botón Orden -->
    <div class="orden">
      <div type="button" class="btn" (click)="OrdenMenu()">
        <img src="/tareas.svg" alt="ordenes" />
      </div>
    </div>

    <!-- Botón Menú -->
    <div class="menu">
      <div type="button" class="btn" (click)="Menu()">
        <img src="/menu.svg" alt="menu" />
      </div>
    </div>

  </div>

