  .fixed-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Por si hay contenido superpuesto */
    background-color: #004d40; /* Color de fondo */
    padding: 20px;
    text-align: center;

  }
  .modal-header{
    background-color: #ffffff;
    color: #004d40;
    padding-top: 200px;
  }
  .menu-opciones{
    display: flex;
    justify-content: space-between;
  }
