
<div class="fixed-footer">
<div class="home">
  <img src="Home.svg" alt="home" />
</div>

<div class="calendar">
  <a routerLink="/calendario"><img src="Calendar.svg" alt="calendar" /></a>
</div>
<div class="incidencia">
  <button type="button" class="btn " data-bs-toggle="modal" data-bs-target="#modalIncidencia">
    <img src="Incidencia.svg" alt="incidencia" />
  </button>
</div>
<div class="orden">
 <a routerLink="/orden"><img src="tareas.svg" alt="orden" /></a>
</div>
<div class="menu">
 <a routerLink="/menu"><img src="menu.svg" alt="menu" /></a>
</div>

<!-- MODAL INCIDENCIA -->
<div class="modal fade" id="modalIncidencia" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reportar Incidencia</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <a href="/personal" class="btn btn-success w-100 my-2">Personal</a>
        <a href="/maquina" class="btn btn-success w-100 my-2">Máquina</a>
        <a href="/stock" class="btn btn-success w-100 my-2">Stock</a>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
