<!-- <div class="modal fade" id="modalCrearDatos" tabindex="-1" aria-labelledby="modalCrearTareaDLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center" id="modalCrearDatos">Añadir Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row mb-3">
            <div class="col-12">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Añadir tarea..." [(ngModel)]="tareaNombre">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 mb-3">
              <div class="card shadow">
                <div class="card-body">
                  <h3 class="card-title">
                    <i class="bi bi-list-task"></i>
                    <img src="/Tarea-Icon.svg" alt="Tarea Icon" class="img-fluid me-2" />
                    Añadir Tarea
                  </h3>
                  <div class="card-body">
                    <label for="tareaDescripcion" class="form-label">Describe tarea</label>
                    <textarea class="form-control" id="tareaDescripcion" rows="3" placeholder="Describe tarea..."></textarea>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary mx-auto" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalCrearTarea">Guardar Cambios</button>      </div>
    </div>
  </div>
</div> -->
