<div class="modal fade" id="modalParcela" tabindex="-1" aria-labelledby="modalCrearTareaLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center" id="modalCrearTareaLabel">Crear Tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <!-- Contenido del modal -->
        </div>
      </div>
    </div>
  </div>
</div>
