

/* Contenedor general */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  max-height: 100vh; /* Altura máxima para evitar que desborde */
  overflow-y: auto; /* Scroll vertical si es necesario */

}

/* Tarjetas de órdenes */
.card {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  color: #2f4f4f;
  width: 90%;
  max-width: 280px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  gap: 12px;
}

/* Imagen en la tarjeta */
.card-img-top {
  width: 30px;
  height: 30px;
  object-fit: contain;
  flex-shrink: 0;
}

/* Contenedor de texto en la tarjeta */
.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Cabecera con título e imagen */
.card-header {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: bold;
}

/* Texto dentro de las tarjetas */
.card-text {
  font-size: 0.85rem;
  margin-top: 5px;
  color: #2f4f4f;
}

.card-text strong {
  font-weight: bold;
  color: #2f4f4f;
}

/* Título de la sección */
h1 {
  text-align: center;
  padding: 20px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 576px) {
  .card {
    width: 100%; /* Ocupar todo el ancho disponible */
    max-width: none; /* Sin límite de ancho */
  }
}
