<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ordenes en curso</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Parcela</th>
            <th>Tarea</th>
            <th>Fecha Inicio</th>
            <th></th>
          </tr>
        </thead>
        <tbody >
           @for(ordenCurso of ordenesCurso; track ordenCurso.id){
            <tr data-bs-toggle="modal" data-bs-target="#ordenCursoShow">
              <td>{{ ordenCurso.parcela.nombre }}</td>
              <td>{{ ordenCurso.tarea }}
              <td>{{ ordenCurso.fecha_inicio }}</td>
            </tr>
           }


        </tbody>
      </table>

    </div>
  </div>

</div>









