<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ordenes Pendientes</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Parcela</th>
            <th>Tarea</th>
            <th>Fecha Inicio</th>
          </tr>
        </thead>
        <tbody >
          @for(ordenCurso of ordenesPendientes; track ordenCurso.id){
          <tr data-bs-toggle="modal" data-bs-target="#ordenCursoShow" (click)="seleccionarOrden(ordenCurso)">
            <td>{{ ordenCurso.parcela.nombre }}</td>
            <td>{{ ordenCurso.tarea }}
            <td>{{ ordenCurso.fecha_inicio }}</td>
          </tr>
        }
        </tbody>
      </table>
     <button class="btm btn-primary" data-bs-toggle="modal" data-bs-target="#ordenCursoShow">aaaaa</button>

    </div>
  </div>

  <div class="modal fade" id="ordenCursoShow" tabindex="-1" aria-labelledby="ordenCursoModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ordenCursoModal">Orden en curso</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="col-12 mb-3">
            <div class="card shadow" style="cursor: pointer;">
              <div class="card-body parcelas">
                <div class="card-title d-flex">
                  <img src="/Parcela-Icon1.svg" alt="Parcela Icon" class="img-fluid me-2" />
                 <h2 class="fw-semibold"> Parcela:  {{ordenSeleccionada?.parcela.nombre}}</h2>

                </div>
              </div>
            </div>
          </div>


          <div class="col-12 mb-3">
            <div class="card shadow" style="cursor: pointer;">
              <div class="card-body tareas">
                <div class="card-title d-flex">
                  <img src="/Tarea-Icon.svg" alt="Tarea Icon" class="img-fluid me-2" />
                  <h3>Tarea: {{ ordenSeleccionada?.tarea }}</h3>

                </div>
              </div>
            </div>
          </div>

          <div class="col-12 mb-3">
            <div class="card shadow" style="cursor: pointer;">
              <div class="card-body aplicadores">
                <div class="card-title d-flex">
                  <img src="/Persona-Icon.svg" alt="Persona Icon" class="img-fluid me-2" />
                  <h3>Aplicadores</h3>
                  <p>{{ordenSeleccionada?.id_aplicador}}</p>
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
