
.circle {
  width: 50vw; /* Tamaño relativo al ancho de la pantalla */
  max-width: 200px; /* Tamaño máximo */
  height: 50vw; /* Mantener proporción */
  max-height: 200px; /* Tamaño máximo */
  border-radius: 50%;
  background: conic-gradient(
    blue 0% 25%,
    green 25% 50%,
    red 50% 75%,
    orange 75% 100%
  );
  position: relative;
  margin: 0 auto;
  padding: 5px;
}

.circle::before {
  content: "";
  width: 90%; /* Tamaño relativo al contenedor */
  height: 90%;
  background: #fff; /* Fondo blanco */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1,2rem; /* Tamaño relativo */
  font-weight: bold;
  color: #333;
}

.total-tasks {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem; /* Tamaño relativo */
  color: #333;
}
p{
  font-weight: 900;
}

/* Estilos para los puntos de colores en la leyenda */
.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px; /* Espacio entre el punto y el texto */
}

.dot-blue {
  background-color: blue;
}

.dot-green {
  background-color: green;
}

.dot-red {
  background-color: red;
}

.dot-orange {
  background-color: orange;
}

.text-brown {
  color: #8B4513;
}

.legend {
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
  justify-content:center;
  gap: 0px; /* Añade espacio entre los elementos de la leyenda */
  margin: 0 auto; /* Centra la leyenda */
  max-width: 75%;
  width: 500%; /* Asegura que ocupe todo el ancho disponible */
}

.legend .d-flex {
  margin: 1px 0;
}

/* Media Query para Pantallas Pequeñas */
@media (max-width: 576px) {
  .circle {
    width: 70vw; /* Más pequeño para dispositivos pequeños */
    height: 70vw;
  }

  .center-text {
    font-size: 1rem; /* Reducir tamaño de texto */
  }

  .total-tasks {
    font-size: 0.7rem; /* Reducir tamaño de texto */
  }

  .legend {
    width: 100%; /* La leyenda ocupa el 100% del ancho en dispositivos pequeños */
    text-align: center; /* Centrar los elementos en dispositivos pequeños */
  }

  .dot {
    margin-right: 5px; /* Reducir el espacio entre los puntos y el texto */
  }
}
