<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appbar</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<!-- Mostrar Login si no está autenticado -->
<div *ngIf="!isLoggedIn">
  <app-login (loginSuccess)="onLoginSuccess()"></app-login>
</div>

<!-- Mostrar contenido de la app si está autenticado -->
<div *ngIf="isLoggedIn">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
  

</div>






</html>
