.btn {
  display: flex;
  background-color: #532301;
  text-align: center;
}

.modal-title {
  color: #532301;
  font-weight: bold;
}

.modal-dialog {
  margin-top: 20px;
}

.modal-header {
  background-color: #ffffff;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1050; /* Asegúrate de que el encabezado esté por encima del contenido */
}

.modal-footer {
  background-color: #ffffff;
  color: white;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1050; /* Asegúrate de que el pie de página esté por encima del contenido */
}

.modal-body {
  max-height: 70vh; /* Ajusta este valor según sea necesario */
  overflow-y: auto;
  padding-top: 60px; /* Ajusta este valor según sea necesario */
  padding-bottom: 60px; /* Ajusta este valor según sea necesario */
}

