/* Define la fuente Inter para todo el componente */
:host {
  font-family: 'Inter', sans-serif;
}

/* Estilo para los títulos de las tarjetas */
.card-title {
  color: #01533E; /* Verde usado en el header */
  font-weight: bold;
}

/* Estilo para las interpolaciones */
.card-body p {
  color: #532301; /* Marrón */
}
.btn{
  display: flex;
  background-color:#532301;
  text-align: center;
}
.modal-title{
  color: #532301;
  font-weight: bold;
}

