<div class="modal-content d-flex flex-column h-100">
  <h1 class="text-center my-4">Agregar Tarea</h1>

  <div class="container flex-grow-1">
    <div class="row">
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Parcela</h3>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Tarea</h3>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Aplicador</h3>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Maquina</h3>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Tratamiento</h3>
          </div>
        </div>
      </div>
      <div class="col-12 mb-3">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Fecha</h3>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-3">
    <button mat-button class="btn btn-primary" (click)="close()">Continuar</button>
  </div>
</div>
