<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Ordenes Pausadas</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Parcela</th>
            <th>Tarea</th>
            <th>Fecha Inicio</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let ordenPausa of ordenesPausadas">
            <td>{{ ordenPausa.parcela.nombre }}</td>
            <td>{{ ordenPausa.tarea }}
            <td>{{ ordenPausa.fecha_inicio }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
