

<div class="div1">
  <div class="div2">
    <table>
      <tbody>
        <tr id="modalVerTarea" (click)="crearIncidencia()">
          <td class="icono"><img src="IconoParcela.svg" alt="parcelaIcono" width="50px" height="50px"></td>
          <td class="central">Parcela 1 - PODA <br> Creada el 20 de diciembre</td>

        </tr>

        <tr>
          <td class="icono"><img src="IconoParcela.svg" alt="parcelaIcono" width="50px" height="50px"></td>
          <td class="central">Parcela 1 - PODA <br> Creada el 20 de diciembre</td>

        </tr>

        <tr>
          <td class="icono"><img src="IconoParcela.svg" alt="parcelaIcono" width="50px" height="50px"></td>
          <td class="central">Parcela 1 - PODA <br> Creada el 20 de diciembre</td>

        </tr>

        <tr>
          <td class="icono"><img src="IconoParcela.svg" alt="parcelaIcono" width="50px" height="50px"></td>
          <td class="central">Parcela 1 - PODA <br> Creada el 20 de diciembre</td>

        </tr>
        <app-modal-ver-tarea #modalVerTarea></app-modal-ver-tarea>

      </tbody>
    </table>
  </div>
</div>
