<body>
  <div class="body">
  <div class="header d-flex justify-content-between align-items-center px-3 py-2">
    <!-- <div class="flex-grow-1 overflow-auto d-flex flex-column gap-3 px-3"> -->
    <!-- Logo -->
    <div class="logo">
      <img src="browser/logoAgro.png" alt="Logo" class="img-fluid" />
    </div>

    <!-- Contenedor para los botones -->
    <div class="d-flex align-items-center ms-auto">
      <!--"Agregar Tareas" -->
      <a class="b" routerLink="/crear orden" >
        <img src="browser/vectorplus.svg" alt="añadirTarea" class="img-fluid me-5" />
      </a>

      <!-- Botón de Notificaciones -->
      <a routerLink="notificaciones"><img src="browser/notificaciones.svg" alt="Notificaciones" class="img-fluid me-5" /></a>
    </div>

    <!-- Avatar -->
    <div class="avatar">
      <img src="browser/FotoAbatar.png" alt="User Avatar" class="rounded-circle avatar-img" />
    </div>
  </div>
</div>


<div class="body" hidden>
  <div class="header d-flex justify-content-between align-items-center px-3 py-2">
    <p>Atras</p>
  </div>

</div>
</body>




