<br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card shadow" routerLink="/modal-crear-parcela" style="cursor: pointer;">
        <div class="card-body">
          <h3 class="card-title">
            <i class="bi bi-geo-alt"></i>
            <img src="/Parcela-Icon1.svg" alt="Parcela Icon" class="img-fluid me-2" />
            Parcela
          </h3>
          <p>{{ parcelaNombre }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" routerLink="/modal-crear-dtarea" style="cursor: pointer;">
        <div class="card-body">
          <h3 class="card-title">
            <i class="bi bi-geo-alt"></i>
            <img src="/Tarea-Icon.svg" alt="Tarea Icon" class="img-fluid me-2" />
            Tarea
          </h3>
          <p>{{ tareaNombre }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" routerLink="/modal-crear-aplicador" style="cursor: pointer;">
        <div class="card-body">
          <h3 class="card-title">
            <i class="bi bi-geo-alt"></i>
            <img src="/Persona-Icon.svg" alt="Persona Icon" class="img-fluid me-2" />
            Aplicador
          </h3>
          <p>{{ aplicadorNombre }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" routerLink="/modal-crear-maquina" style="cursor: pointer;">
        <div class="card-body">
          <h3 class="card-title">
            <i class="bi bi-geo-alt"></i>
            <img src="/Maquina-Icon.svg" alt="Maquina Icon" class="img-fluid me-2" />
            Máquina
          </h3>
          <p>{{ maquinaNombre }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" routerLink="/modal-crear-tratamiento" style="cursor: pointer;">
        <div class="card-body">
          <h3 class="card-title">
            <i class="bi bi-geo-alt"></i>
            <img src="/Tratamiento-Icon.svg" alt="Tratamiento Icon" class="img-fluid me-2" />
            Tratamiento
          </h3>
          <p>{{ tratamientoNombre }}</p>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" routerLink="/modal-crear-fecha" style="cursor: pointer;">
        <div class="card-body">
          <h3 class="card-title">
            <i class="bi bi-geo-alt"></i>
            <img src="/Fecha-Icon.svg" alt="Fecha Icon" class="img-fluid me-2" />
            Fecha
          </h3>
          <p>{{ fecha }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Botón centrado para guardar cambios -->
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <button class="btn btn-primary mt-3">Guardar Cambios</button>
    </div>
  </div>
</div>
