.container {
  margin-top: 10vh;
  max-height: 80vh;
  overflow-y: auto;
}

body {
  overflow-y: auto; /* Habilita el scroll vertical para todo el cuerpo */
}

.btn {
  display: flex;
  background-color: #532301;
  text-align: center;
}

.modal-title {
  color: #532301;
  font-weight: bold;
}

.modal-dialog {
  margin-top: 20px;
}

.modal-header {
  background-color: #ffffff;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1050; /* Asegúrate de que el encabezado esté por encima del contenido */
}

.modal-footer {
  background-color: #ffffff;
}
.title{
  color: #532301;
  font-weight: bold;
}
.card-body{

  max-height: 110px;

}

.aplicadores{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.alert-success {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 80%;
  max-width: 300px;
  padding: 20px;
  text-align: center;
  font-weight: bold;
}
