<div class="container">
  <h1 class="modal-title w-100 text-center pb-3 mt-4">Crear Orden</h1>
  <div class="row">
    <div class="col-12 mb-3">
      <div class="card shadow" (click)="abrirModalParcela()" style="cursor: pointer;">
        <div class="card-body parcelas">
          <div class="card-title d-flex">
            <img src="/Parcela-Icon1.svg" alt="Parcela Icon" class="img-fluid me-2" />
           <h2 class="fw-semibold"> Parcela</h2>
            @for (parcela of parcelaSeleccionada; track parcela.id){

              {{ parcela.nombre }}
              }
          </div>
          <app-modal-crear-parcela #modalVerParcelas
            (parcelaGuardada)="recibirParcela($event)"></app-modal-crear-parcela>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" (click)="abrirModalTarea()" style="cursor: pointer;">
        <!-- Cuando se hace click en la tarjeta, se ejecuta abrirModal()-->
        <div class="card-body tareas">
          <div class="card-title d-flex">
            <img src="/Tarea-Icon.svg" alt="Tarea Icon" class="img-fluid me-2" />
            <h3>Tarea: {{ tareaSeleccionada || 'No seleccionada' }}</h3>

          </div>
          <app-modal-crear-tarea #modalVerTarea (tareaGuardada)="recibirTarea($event)"></app-modal-crear-tarea>
        </div>
      </div>
    </div>
    <div class="col-12 mb-3">
      <div class="card shadow" (click)="abrirModalAplicador()" style="cursor: pointer;">
        <div class="card-body aplicadores">
          <h3 class="card-title">
            <img src="/Persona-Icon.svg" alt="Persona Icon" class="img-fluid me-2" />
            Aplicador
          </h3>
          <app-modal-crear-aplicador #modalVerAplicador
            (aplicadoresGuardados)="recibirAplicador($event)"></app-modal-crear-aplicador>
          <div class="ps-5">
            @if(aplicadoresSeleccionados.length > 0){
            @for (aplicador of aplicadoresSeleccionados; track aplicador.id){

            {{ aplicador.nombre }}
            }
            } @else{
            <p>No seleccionado</p>
            }
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="card shadow" (click)="abrirModalMaquina()" style="cursor: pointer;">
      <div class="card-body">
        <div class="card-title d-flex">
          <img src="/Maquina-Icon.svg" alt="Maquina Icon" class="img-fluid me-2" />
          <h3>Máquina: {{ maquinaSeleccionada?.nombre || 'No seleccionada' }}</h3>
        </div>
        <app-modal-crear-maquina #modalVerMaquina (maquinaGuardada)="recibirMaquina($event)"></app-modal-crear-maquina>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="card shadow" (click)="abrirModalTratamiento()" style="cursor: pointer;">
      <!-- Cuando se hace click en la tarjeta, se ejecuta abrirModal() -->
      <div class="card-body ">
        <div class="card-title d-flex">
          <img src="/Tratamiento-Icon.svg" alt="Tratamiento Icon" class="img-fluid me-2" />
          <h3>Tratamiento: {{ tratamientoSeleccionado?.nombre_tratamiento || 'No seleccionado' }}</h3>
        </div>
        <!--Incluye el componente hijo <app-modal-crear-tratamiento> dentro del padre.
                  Usa #modalVerTarea para referenciar el modal(que tenemos en el otro componente) y poder acceder a él desde el TypeScript(archivo.ts).
                  Escucha el evento (tratamientoGuardado): Cuando el usuario guarda un tratamiento en el modal, se envía al padre con $event.-->
        <app-modal-crear-tratamiento #modalVerTratamiento
          (tratamientoGuardado)="recibirTratamiento($event)"></app-modal-crear-tratamiento>
      </div>
    </div>
  </div>
  <div class="col-12 mb-3">
    <div class="card shadow" (click)="abrirModalFecha() " style="cursor: pointer;">
      <div class="card-body fecha">
        <h3 class="card-title">
          <img src="/Fecha-Icon.svg" alt="Fecha Icon" class="img-fluid me-2" />
          Fecha
        </h3>
        <app-modal-crear-fecha #modalVerFecha (fechaGuardada)="recibirFechaYHora($event)"></app-modal-crear-fecha>
        <div class="d-flex justify-content-between align-content-center">
          <div class="col-5">
            <h5>Fecha</h5>
            <p>{{ fechaSeleccionada || "No selecionado"}}</p>
          </div>
          <div class="col-5">
            <h5>Hora</h5>
            <p>{{ horaSeleccionada ||"No selecionado"}}</p>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="pb-5" (click)="guardarDatos()">
    <div class="d-flex justify-content-center">
      <button class="btn btn-primary mt-3">Guardar Cambios</button>
    </div>
  </div>
</div>
