<div class="container mt-2"> <!-- Aumenta la distancia desde el header -->
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="table-title text-center">Máquinas</h1>
      <div class="table-responsive shadow-lg rounded">
        <table class="table table-striped table-hover text-center align-middle">
          <thead >
            <tr>
              <th class="header-text">Fecha</th>
              <th class="header-text">Estado</th>
              <th class="header-text">Orden ID</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let incidencia of incidenciasMaquina">
              <td class="data-text">{{ incidencia.fecha }}</td>
              <td class="data-text">
                <span class="badge" [ngClass]="{
                  'bg-success': incidencia.estado === 'Resuelto',
                  'bg-warning text-dark': incidencia.estado === 'Pendiente',
                  'bg-danger': incidencia.estado === 'Urgente'
                }">
                  {{ incidencia.estado }}
                </span>
              </td>
              <td class="data-text">{{ incidencia.orden_id }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
