<br><br><br><br><br><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Incidencias de Personal</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Orden ID</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let incidencia of incidenciasMaquina">
            <td>{{ incidencia.fecha }}</td>
            <td>{{ incidencia.estado }}</td>
            <td>{{ incidencia.orden_id }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
