 <!-- En Curso -->
 <div class="card mx-auto sub-card">
    <h3 class="text-center text-brown mb-3 subtitle">En curso</h3>

    <!-- Tareas en Curso -->
    <div class="d-flex flex-column gap-4">
      <div class="card task-card ">
        <img src="/public/images/ParcelaIcon.svg" alt="parcela-icon"class="img-fluid parcela-icon" />
       
        <p class="mb-2">Parcela 1</p>
        <p class="mb-2">00:50:12 Duración 3 horas</p>
      </div>
      <div class="card task-card">
        <p class="mb-1">Parcela 2</p>
        <p class="mb-0">00:50:12 Duración 3 horas</p>
      </div>
      <div class="card task-card">
        <p class="mb-1">Parcela 3</p>
        <p class="mb-0">00:50:12 Duración 3 horas</p>
      </div>
    </div>
  </div>
