<div class="container-fluid d-flex flex-column vh-100">
  <!-- Título -->
  <h3 class="text-center text-brown mb-3 subtitle">En curso</h3>

  <!-- Contenedor de tarjetas con scroll -->
  <div class="flex-grow-1 overflow-auto d-flex flex-column gap-3 px-3">
    <!-- Card de Parcela 1 -->
    <div class="card task-card p-3 d-flex flex-row align-items-center gap-3">
      <img src="Parcela-Icon.svg" alt="parcela-icon" class="img-fluid parcela-icon" /><p class="mb-1 fw-bold">
     <div>
      <p class="mb-1 fw-bold">Parcela 1</p>
      <p class="mb-0 text-muted">00:50:12 - Duración: 3 horas</p>
     </div>

    </div>

    <!-- Card de Parcela 2 -->
    <div class="card task-card p-3 d-flex flex-row align-items-center gap-3">
      <img src="Parcela-Icon.svg" alt="parcela-icon" class="img-fluid parcela-icon" /><p class="mb-1 fw-bold">
     <div>
      <p class="mb-1 fw-bold">Parcela 1</p>
      <p class="mb-0 text-muted">00:50:12 - Duración: 3 horas</p>
     </div>

    </div>

    <!-- Card de Parcela 3 -->
    <div class="card task-card p-3 d-flex flex-row align-items-center gap-3">
      <img src="Parcela-Icon.svg" alt="parcela-icon" class="img-fluid parcela-icon" /><p class="mb-1 fw-bold">
     <div>
      <p class="mb-1 fw-bold">Parcela 1</p>
      <p class="mb-0 text-muted">00:50:12 - Duración: 3 horas</p>
     </div>

    </div>
  </div>



