<br><br><br><br><br>
<div #modalElement class="modal fade" [class.show]="isVisible" [attr.aria-hidden]="!isVisible">
  <div class="modal-dialog modal-dialog-centered modal-fullscreen">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h1 class="modal-title w-100 text-center">Crear Tratamiento</h1>
        <button type="button" class="btn-close" (click)="cerrarModal()">X</button>
      </div>
      <div class="modal-body">
        <p>Selecciona un tratamiento:</p>
        <select [(ngModel)]="tratamientoSeleccionado">
          <option *ngFor="let tratamiento of tratamientos" [value]="tratamiento">{{ tratamiento }}</option>
        </select>
        <button type="button" class="btn btn-primary mt-3" (click)="guardarCambios()">Guardar Cambios</button>
      </div>
    </div>
  </div>
</div>




