


<br>
<h2>Agenda</h2>

<div class="calendario">
    <div></div>
</div>
<div class="eventos">
    <div class="row my-3">
        <div class="col">
            <div id="calendar">
                <div class="d-flex">
                    <div
                      class="border rounded"
                      data-coreui-locale="en-US"
                      data-coreui-start-date="2024/02/13"
                      data-coreui-toggle="calendar"
                    ></div>
                  </div>
            </div>
        </div>
    </div>

</div>